body{
    font-family: Consolas;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

canvas#canvas{
    z-index: 1;
    border: 1px solid #000000;
    margin: 0 auto 60px;
    display: block;
}

div#loading{
    font-size: 20px;
    font-weight: bold;
    display: table;
    margin: 0 auto;
}

div#toplist_wrapper{
    width: 1000px;
    display: table;
    margin: 0 auto;
}

div#minNumberOfTxWrapper{
    font-size: 14px;
    margin: 0 0 0 34px;
}

input#minNumberOfTxIncluded{
    width: 50px;
}

div#toplist-more{
    margin: 20px auto;
    text-align: center;
    display: table;
    cursor: pointer;
}

table#toplist{
    padding: 2px;
    border: 0px solid #000000;
    border-collapse: collapse;
    font-size: 13px;
}

tbody>tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tbody>tr>td:nth-child(2) {
    text-align: left;
}

tbody{
    cursor: pointer;
    text-align: right;
}

table, th, td {
    border: 0px solid black;
    padding: 2px 6px;
}

thead {
    text-align: right;
    background-color: #ffffff !important;
    font-size: 15px;
    font-weight: bold;
}
thead>tr>td:nth-child(2) {
    text-align: left;
}

div#tooltip{
    position: absolute;
    display: none;
    z-index: 2;
    font-size: 13px;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 3px;
    white-space: nowrap;
}

div#github_buttons{
    text-align: right;
    margin-right: 20px;
    margin-top: 20px;
}

div#inputs{
    width: 950px;
    display: block;
    text-align: center;
    margin: 5px auto 0px;
}

input#address_input{
    width: 897px;
    margin: 5px auto;
    display: inline-block;
    padding: 1px 0px 2px 4px;
}

button#address_button{
    display: inline-block;
}

div#status{
    display: table;
    margin: 5px auto;
    font-size: 13px;
}
