body{
    font-family: Consolas;
}
canvas#canvas{
    z-index: 1;
    border: 1px solid #000000;
    margin: 0px auto 60px;
    display: block;
}

div#loading{
    font-size: 20px;
    font-weight: bold;
    display: table;
    margin: 0 auto;
}

table#toplist{
    width: 700px;
    border: 0px solid #000000;
    display: table;
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 13px;
}

tbody>tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tbody{
    cursor: pointer;
}

table, th, td {
    border: 0px solid black;
}
thead {
    background-color: #ffffff !important;
    font-size: 15px;
    font-weight: bold;
}

div#tooltip{
    position: absolute;
    display: none;
    z-index: 2;
    font-size: 13px;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 3px;
    white-space: nowrap;
}

div#github_buttons{
    text-align: right;
    margin-right: 20px;
    margin-top: 20px;
}

div#inputs{
    display: table;
    margin: 5px auto 0px;
}

input#address_input{
    margin: 5px auto;
    display: inline-block;
    padding: 1px 0px 2px 4px;
}

button#address_button{
    display: inline-block;
}

div#status{
    display: table;
    margin: 5px auto;
    font-size: 13px;
}
